#backlogs{
  float:left;
  margin-top:10px;
  width:670px;
}
#backlogs .backlog{
  background-color:#FCFCFC;
  border-bottom:2px solid #AEAEAE;
  border-right:2px solid #AEAEAE;
  margin:0 0 10px 0;
}
.backlog .header{
  height:22px;
  padding:8px 0 0 10px;
}
.backlog .header .name{
  font-size:13px;
  font-weight:bold;
}
.backlog .header .due_date{
  font-size:10px;
  color:#666666;
}
.backlog ul{
  list-style:none;
  margin:0;
  padding:0;
}