/*  ITEM STYLES  */
.item{
/*  background-color:#bbf;*/
  display:block;
  height:25px;
  margin:0;
  overflow:hidden;
  position:relative;
  width:100%;
}
.item:hover{
  background-color:rgb(254,248,168);
}
.item .id,
.item .spinner,
.item .tracker_id,
.item .description{
  display:none;
}
.item .checkbox{
  display:block;
  margin:0;
  left:10px;
  position:absolute;
  top:5px;
}
.item .issue_id_container {
  background-color:#cfc;
  display:block;
  font-size:9px;
  height:12px;
  left:27px;
  overflow:hidden;
  padding:0px 3px 0px 1px;
  position:absolute;
  text-align:right;
  top:6px;
  width:35px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
.item .issue_id_container * {
  display:inline;
  font-size:8px;
  text-decoration:none;
}
.item div.subject {
  display:block;
  font-size:12px;
  height:15px;
  left:68px;
  overflow:hidden;
  padding:2px;
  position:absolute;
  top:1px;
  width:388px;
}
.item  > .body div.status_id .v {
  display:none;
}
.item  > .body div.status_id .t {
  background-color:transparent;
  display:block;
  height:15px;
  left:0;
  padding:2px 2px 2px 9px;
  position:absolute;
  top:0;
  width:68px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
.item  > .body div.status_id {
  display:block;
  height:15px;
  left:540px;
  overflow:hidden;
  padding:2px 2px 2px 9px;
  position:absolute;
  width:68px;
  top:1px;
}
.item  > .body div.points {
  display:block;
  height:15px;
  overflow:hidden;
  padding:2px;
  padding-right:3px;
  position:absolute;
  right:10px;
  text-align:right;
  top:1px;
  width:25px;
}