/* SPRINT TABLE STYLES */
#sprint{
  background-color:rgb(254,250,248);
  border:1px solid #CCCCCC;
  margin-bottom:10px;
  margin-right:10px;
}
#sprint td{
  border-right:1px dotted #CFCFCF;
  border-bottom:1px solid #CFCFCF;
  padding:0 5px 10px 0;
  min-width:250px;
  vertical-align:top;
  width:250px;
}
#sprint tr:first-child td{
  background-color:rgb(235,235,235);
  border-bottom:none;
  color:rgb(126,126,126);
  font-size:14px;
  font-weight:bold;
  height:30px;
  padding:0;
  padding-bottom:0;
  text-align:center;
  vertical-align:middle;
}
#sprint tr:last-child td{
  border-bottom:none;
}
#sprint td:last-child{
  border-right:none;
}
#sprint td:first-child{
  min-width:137px;
  padding:10px;
  width:137px;
}
#sprint td.list.hover{
  background-color:#CCCCCC;
}
/* BACKLOG TASK STYLES */
#sprint .task{
  background-color:rgb(255,253,200);
  border:1px solid #CCCCCC;
  cursor:move;
  display:block;
  float:left;
  font-size:10px;
  height:60px;
  margin:10px 0 0 10px;
  padding:5px;
  position:relative;
  width:100px;
}
#sprint .task.blank{
  cursor:pointer;
}