<div id="header">
  <div class="breadcrumbs">
  <%= yield :breadcrumbs -%>
  </div>
  <div class="links">
    <a href="../">Back to Redmine</a>
    <a href="#">Hide closed backlogs</a>
    <a href="#">Settings</a>
  </div>
</div>